<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cardápio do Mercadinho</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>Nome</td>
            <td>Preço</td>
            <td>Quantidade</td>
        </tr>
        {% for product in available_products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td><input type="number"></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>