{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
            <div class="col-md-12">
              <div class="card card-plain">
                <div class="card-header card-header-primary">
                  <h4 class="card-title mt-0"> Lista de Produtos</h4>
                  <p class="card-category">Atualizado em:</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead class="">
                        <th>
                          ID
                        </th>
                        <th>
                          Nome
                        </th>
                        <th>
                          Preço
                        </th>
                        <th>
                          Quantidade
                        </th>
                      </thead>
                      <tbody>
                        {% for prd in product_list %}
                        <tr>
                          <td>
                            {{prd.id}}
                          </td>
                          <td>
                            {{prd.name}}
                          </td>
                          <td>
                            {{prd.price}}
                          </td>
                          <td>
                            <input type="number">
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                      <tfoot>
                      <tr>
                          <td>
                            -
                          </td>
                          <td>
                            -
                          </td>
                          <td>
                            Total:
                          </td>
                          <td>
                            -
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
